.primary-bttn {
  border-radius: 8px;
  overflow: hidden;
}

.primary-bttn form {
  display: inline-flex;
  align-items: center;
}

.primary-bttn input {
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: var(--fs-600);
  width: 200px;
  border-radius: 8px 0 0 8px;
}

.primary-bttn button {
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 0 10px;
  cursor: pointer;
  font-size: var(--fs-600);
  width: 40px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;
}




@media(max-width: 65em) {
  .primary-bttn {
    display: none;
  }
}