:root {

  --clr-primary-400: hsl(187, 100%, 42%);

  --clr-accent-100: hsl(240, 100%, .2%);
  --clr-accent-150: hsl(210, 13%, 15%);
  --clr-accent-800: hsl(228, 13%, 14%);
  --clr-accent-900: hsl(222.86, 15.56%, 8.82%);
  --clr-accent-1000: hsl(0, 0%, 0%);

  --clr-neutral-100: hsl(13, 100%, 96%);
  --clr-neutral-150: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(208 14% 49%);
  --clr-neutral-400: hsl(210, 15%, 16%);


  /* --clr-neutral-400: hsl(222, 19%, 9%);
    --clr-neutral-800: hsl(230, 10%, 8%); */

  --ff-primary: "Be Vietnam Pro", sans-serif;


  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);


  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;


  --fs-300: 0.813rem;
  /* 13px */
  --fs-400: 0.875rem;
  /* 14px */
  --fs-500: 0.938rem;
  /* 15px */
  --fs-600: 1rem;
  /* 16px */
  --fs-700: 1.25rem;
  /* 20px */
  --fs-800: 1.875rem;
  /* 30px */
  --fs-900: 2.5rem;
  /* 40px */


  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --ff-button: var(--fs-600);


  --size-100: 0.25rem;
  /* 4px */
  --size-200: 0.5rem;
  /* 8px */
  --size-300: 0.813rem;
  /* 13px */
  --size-400: 0.875rem;
  /* 14px */
  --size-500: 0.938rem;
  /* 15px */
  --size-600: 1rem;
  /* 16px */
  --size-700: 1.25rem;
  /* 20px */
  --size-800: 1.875rem;
  /* 30px */
  --size-900: 2.5rem;
  /* 40px */

}

/* FS for mobile */
@media (min-width: 50em) {
  :root {

    --fs-body: var(--fs-500);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-nav: var(--fs-300);
    --ff-button: var(--fs-500);
  }

}

body {
  margin: 0;
}

/* https://piccalil.li/blog/a-more-modern-css-reset/  */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* general styling */

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-neutral-200);
  background: var(--clr-accent-800);

}

main {
  min-height: 100vh;
}

.Link {
  text-decoration: none;
}

.p {
  max-width: 35ch;
}

/* secondary-button */

.secondary-bttn {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  width: 700px;
}

.secondary-bttn input {
  border: none;
  outline: none;
  padding: 15px 50px;
  font-size: var(--fs-600);
  flex: 1;
}

.secondary-bttn button {
  border: none;
  border-radius: 0 8px 8px 0;
  padding: 15px 10px;
  cursor: pointer;
  background-color: var(--clr-primary-400);

  max-width: 70px;
  height: 48px;
}

@media(max-width: 45em) {
  .secondary-bttn {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    width: 450px;
  }

  .secondary-bttn input {
    border: none;
    outline: none;
    padding: 15px 50px;
    font-size: var(--fs-600);
    flex: 1;
  }

  .secondary-bttn button {
    border: none;
    border-radius: 0 8px 8px 0;
    padding: 15px 10px;
    cursor: pointer;
    background-color: var(--clr-primary-400);

    max-width: 70px;
    height: 48px;
  }
}

/* middle button */

.button {
  border: none;
  border-radius: 8px;
  padding: 15px 10px;
  cursor: pointer;
  background-color: var(--clr-neutral-150);
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);

  width: 180px;
  height: 48px;
}

.button3 {
  border: none;
  border-radius: 8px;
  padding: 15px 10px;
  cursor: pointer;
  background-color: var(--clr-primary-400);
  font-size: var(--fs-600);
  font-weight: var(--fw-regular);

  width: 180px;
  height: 48px;
}

.button1 {
  border: none;
  border-radius: 5px;
  padding: 9px 0 15px;
  cursor: pointer;
  background-color: var(--clr-primary-400);
  font-size: var(--size-300);
  font-weight: var(--fw-regular);
  color: var(--clr-accent-100);

  width: 80px;
  height: 30px;
}

/* Logo */

.primary-logo {
  cursor: pointer;
  padding: 3px 15px;
  border-radius: 7px;
  text-align: center;

  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-size: var(--size-700);
  font-weight: var(--fw-bold);
}

.primary-logo a {
  text-decoration: none;
}

.secondary-logo {
  cursor: default;
  padding: 3px 15px;
  border-radius: 7px;
  text-align: center;
  margin-bottom: 3rem;

  background: var(--clr-primary-400);
  color: var(--clr-neutral-100);
  font-size: var(--size-900);
  font-weight: var(--fw-bold);
}

.fourth-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 29px;
  border-radius: 5px;


  background: var(--clr-primary-400);
  color: var(--clr-accent-1000);
  font-size: var(--fs-700);
  font-weight: var(--fw-semi-bold);
}


/* mobile view */

@media (max-width: 63em) {


  /* Lower section */

  .even-columns {
    gap: 1rem;
    max-width: 100%;
  }

  .links {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    max-width: 90%;
    margin-right: 5rem;
  }

  .links ul {
    padding: 0;
    margin: 0;
  }

  .links ul li a {
    text-decoration: none;
  }
}






/* Utility classes */

/* https://a11y-guidelines.orange.com/en/articles/accessible-hiding/ */

/* for mobile view if you click hamburger logo */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

.text-decoration-none {
  text-decoration: none;
}

.container {
  --max-width: 1400px;
  --padding: 1rem;


  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;

}



/*  for movie pages */


.even-columns {
  --max-width: 1600px;
  --padding: 1rem;


  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* Margin for every div */
:where(.flow :not(:first-child)) {
  margin-top: var(--flow-spacer, 1rem);
}

/* for desktop view to remove navbar */
.display-sm-none {
  display: none;
}

@media (min-width: 55em) {
  /* .display-md-inline-flex {
    display: inline-flex;
  }

  .heading-searchbox-ul {
    display: flex;
    justify-content: space-between;
    gap: 0;
  } */

  .even-columns {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    max-width: 100%;
  }

  .links {
    display: flex;
    gap: 4rem;
    max-width: 100%;
    margin-right: 5rem;
  }

  .column h2 {
    padding: 0;
    width: 8rem;
    margin-bottom: 10px;
  }

  .links ul {
    padding: 0;
    margin: 0;
  }

  .links ul li a {
    text-decoration: none;
  }

}

.container>h3 {
  color: var(--clr-primary-400);
  font-size: var(--fs-700);
  font-weight: var(--fw-regular);
  margin-bottom: var(--size-700);
}


/* text color */


.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-accent-800 {
  color: var(--clr-accent-800);
}

.text-accent-900 {
  color: var(--clr-accent-900);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}


/* background color */

.bg-primary-400 {
  background-color: var(--clr-primary-400);
}


.bg-accent-800 {
  background-color: var(--clr-accent-800);
}

.bg-accent-150 {
  background-color: var(--clr-accent-150);
}

.bg-accent-900 {
  background-color: var(--clr-accent-900);
}

.bg-accent-1000 {
  background-color: var(--clr-accent-1000);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

/* font weight */

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  line-height: 1.2;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.2;
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.padding-block-100 {
  padding-block: var(--size-100);
}

.padding-block-200 {
  padding-block: var(--size-200);
}

.padding-block-300 {
  padding-block: var(--size-300);
}

.padding-block-400 {
  padding-block: var(--size-400);
}

.padding-block-500 {
  padding-block: var(--size-500);
}

.padding-block-600 {
  padding-block: var(--size-600);
}

.padding-block-700 {
  padding-block: var(--size-700);
}

.padding-block-800 {
  padding-block: var(--size-800);
}

.padding-block-900 {
  padding-block: var(--size-900);
}